{% extends "youtube/base.html" %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block content %}
<article class="container" style="max-width: 600px;">
    <h2>お問い合わせ</h2>
    {% if message_sent %}
    <div class="alert alert-success">お問い合わせありがとうございました！</div>
    {% endif %}
    <form id="contactForm" method="post">
        <div>
            {% csrf_token %}
            {{ form }}
            <div  class="text-center">
            <button type="submit" id="submitButton" class="btn btn-light mt-3">送信</button>
            </div>
        </div>
    </form>
</article>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}