{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>youtube</title>
</head>
<body>
<h1>Wellcome to YouTube!</h1>
<div>
    <h2>trending videos</h2>
    {% if video_list %}
    <ol>
    {% for video in video_list %}
    <li><a href="{% url 'youtube:video' channel_slug=video.channel.slug video_slug=video.slug%}">{{ video.title}}</a></li>
    {% endfor %}
    </ol>
    {% else %}
    <p>No videos are available.</p>
    {% endif %}
</div>

<div>
{% if channel_list %}
    <h2>popular channels</h2>
    <ul>
    {% for channel in channel_list %}
    <li><a href="{% url 'youtube:channel' channel.slug %}">{{ channel.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No channels are available.</p>
{% endif %}
</div>

<script src="{% static 'js/home.js' %}"></script>
</body>