{% extends "youtube/base.html" %}
{% load static %}
{% block title %}{{video.title}}{% endblock %}
{% block content %}

<article>
{% if video.external_url %} 
<figure id="video">
<iframe
    src="{{ video.get_embed_url }}" 
    width="100%" 
    height="auto"
    style="max-width: 960px; aspect-ratio: 16/9;"
    frameborder="0" 
    allowfullscreen>
</iframe>
</figure>
{% endif %}
<header>
<h2>{{video.title}}</h2>
<div>
    <button class="btn btn-light rounded-pill me-4"><a href="{% url 'youtube:channel' video.channel.slug %}" class="text-dark text-decoration-none">{{ video.channel.name }}</a></button>
    <button type="button" id="likeButton" class="btn btn-light rounded-pill" 
    data-url="{% url 'youtube:evaluate' channel_slug=video.channel.slug video_slug=video.slug  %}">
        Like <span id="likeCount">{{ video.like_count }}</span>
    </button>   
</div>
</header>
<section id="discription" class="bg-light rounded-3 mt-3">
<p class="text-dark">
    <strong>{{ video.view_count }} 回視聴 {{ video.uploaded_at|date:"Y/m/d" }} </strong><br>
    {{ video.discription }}
</p>
</section>
</article>

<aside class="mt-3 mb-4">
    {% if video_list %}
    <h3>関連動画</h3>
    <ul class="list-group list-group">
    {% for video in video_list %}
    <li class="list-group-item">
        <a href="{% url 'youtube:video' video.channel.slug video.slug %}" class="text-dark text-decoration-none">
            <div class="d-flex align-items-center">
                <img src="{{ video.get_thumbnail_url }}" alt="{{ video.title }}" class="me-3" style="width: 120px; height: 67.5px; object-fit: cover;">
                <strong>{{ video.title }}</strong>
            </div>
        </a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p class="text-muted">No videos are available.</p>
    {% endif %}
</section>

<section id="comments">
<div class="mt-2">
    <h3>Comments</h3>
    <form id="commentForm">
        {% csrf_token %}
        {{ form.text }}
        <div class="text-end mt-1">
            <button type="submit" id="commentButton" 
                class="btn btn-primary rounded-pill mt-1"
                data-url="{% url 'youtube:comment' channel_slug=video.channel.slug video_slug=video.slug %}">
                Comment</button>
        </div>
    </form>
</div>
<div class="container mt-1">
    <ul id="commentList" class="list-group">
        {% for comment in comment_list %}
        <li class="list-group-item">{{ comment.text }}</li>
        {% endfor %}
    </ul>
</div>
</section>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/video.js' %}"></script>
{% endblock %}