<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{video.title}}</title>
</head>

<body>
<h1>{{video.title}}</h1>
<div>
{% if video.external_url %} 
    <iframe
        src="{{ video.get_embed_url }}" 
        width="100%" 
        height="auto"
        style="max-width: 960px; aspect-ratio: 16/9;"
        frameborder="0" 
        allowfullscreen>
    </iframe>
{% endif %}
<br>
</div>

<div>

    <form action="{% url 'youtube:evaluate' channel_slug=video.channel.slug video_slug=video.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" id="like" value="Likes">Like</button>
        <span>{{ video.likes }}</span>
    </form>
</div>

<script>
</script>
</body>
</html>